/**
* 1. Custom utils
**/
.box-shadow {
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
}

.box-shadow--bottom {
    box-shadow: 0px 0px 4px 0px rgba(50,50,93,.1);
}

.block--transparent {
    background-color: rgba(50,50,50,.75);
    border-radius: 4px;

    color: #fff;
    @include lg-up {
        max-width: 350px;
        float: right;
    }
}

.card {
    @extend .p1;
    @extend .block--white;
    @extend .box-shadow;
    border-radius: 4px;
}

/**
* 2. Typography
**/
h1,h2,h3 {
    font-weight: 600;
}

/**
* 3. Preheader
**/

/**
* 4. Header
**/
.navbar-sticky {
    @extend .box-shadow--bottom;

    > .navbar {
        background: linear-gradient(to right, lighten($color--light,10%), darken($color--light,10%))
    }
}

/**
* 5. Blocks & Sections
**/
.section--shaded, .section--header-text-only {
    background: linear-gradient(to right, lighten($color--light,10%), darken($color--light,10%))
}
.section--after-section {
    border-top: 2px solid rgba(#ccc, 0.2);
}

.block--testimonial {
    @extend .card;
    @extend .mb1;
    @include md-up {
        max-width: 540px;
        display: block;
        margin: 0 auto 2em auto;
        float: none;
    }
}

.block--team, .block--product {
    @extend .block--white;
    @extend .box-shadow;
    border-radius: 4px;
    .card__content {
        @extend .p1;
    }
    img { border-radius: 4px 4px 0 0px }
}