.layout-content-sidebar {
	.content-area {
		@extend .col-lg-8;
		@extend .col-md-12;
	}
	
	.site-content .widget-area {
		@extend .col-lg-4;

		@include sm {
			width: 100%;
		}

		float: left;
		@extend .no-padding-right-md;
		
	}
	
	.site-footer {
		clear: both;
		width: $size__site-main;
	}
}