.layout-full-width {
	.content-area {
		@extend .col-md-12;
 
		main {
			background-color: $color__background-widget;
			@extend .mb1;
			border: 1px solid darken($color__background-widget, 10%);
		}
	}
	
	.widget-area {
        display: none;	
	}

}

.content-only {
	.widget-area {
		display: none;
	}
}