// Containers
body:not(.full-width) .site-content, .navbar-inner, body.full-width .panel-grid-cell {
    @extend .container;
}

// Match up with existing gutters
body.full-width .panel-grid div:not(.section__no-padding) .panel-grid-cell {
    padding-left: $grid__gutter !important;
    padding-right: $grid__gutter !important;
}

.content-area {
    float: left;
    width: 100%;
}

// Content only - no sections
.content-only .site-content {
    padding: $section__content-only-padding;
    @include md {
        padding: 40px 0;
    }
}

.siteorigin-panels.content-only .site-content {
    padding-top: 0;
    padding-bottom: 0;
}

@import "preview";
@import "content-sidebar";
@import "no-sidebar";
@import "footer";