body:not(.full-width) .site-content, .navbar-inner, body.full-width .panel-grid-cell {
    @extend .container;
}

body:not(.full-width) .content-area, .widget-area {
    @extend .section-row;
}

body.content-only .content-area, body.full-width .panel-grid-cell {
    @extend .section__content-only;
}

.content-area {
    float: left;
    width: 100%;
}

@import "preview";
@import "content-sidebar";
@import "footer";