//
// Buttons
// --------------------------------------------------
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

// Base styles
// --------------------------------------------------

.button, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  text-transform: $font--buttons-case;
  font-family: 'Gotham', sans-serif;
  font-weight: $font__weight-buttons;
  font-size: var(--font-size-buttons);
  line-height: $font__line-height-buttons;
  letter-spacing: $font__letter-spacing-buttons;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: normal;
  transition: background-color 0.5s ease;
  @include button-size($button-padding-vertical, $button-padding-horizontal, $button-border-radius);

  &,
  &:active,
  &.active,
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }


  // [converter] extracted a& to a.btn
}

// Create Variants
.button--primary {
  @include button-variant( $button--add-to-primary-color, $button--add-to_bg, $button--add-to-border )
  &:focus,
  &.focus, &:hover {
    color: #fff;
    background-color: var(--color-dark);
        border-color: var(--color-dark);
  }
}

// Create Variants
.button--border {
    @include button-variant( $button--border-primary-color, $button--border-bg, $button--border-border )
  &:focus,
  &.focus, &:hover {
    color: $color__white;
    background-color: var(--color-light);
        border-color: var(--color-light);
  }
}

// Create Variants
.button--white {
    @include button-variant( $button--white-primary-color, $button--white-bg, $button--white-border )
  &:focus,
  &.focus, &:hover {
    color: var(--color-light);
    background-color: $color__white;
        border-color: $color__white;
  }
}

// Create Variants
.button--grey {
    @include button-variant( $button--grey-primary-color, $button--grey-bg, $button--grey-border )
  &:focus,
  &.focus, &:hover {
    color: $color__white;
    background-color: var(--color-grey);
        border-color: var(--color-grey);
  }
}

// Block
.button--block {
  display: block;
  width: 100%;  
}

// Small
.button--small {
  font-size: 75%;
  padding: 10px 14px;
  margin: 3px 3px;
}

.button--lg {
  font-size: 120%;
  padding: 18px 20px;
  @include md {
    font-size: initial;
    line-height: 1.2em;
  }
}

// Center
.button--center {
  margin-right: auto;
  margin-left: auto;
}

// Groups
.button--group {

  .button + .button {
    margin-left: .5rem;
    
    @include md {
      margin-left: auto;
      margin-top: .5rem;
    }

  }
  
}

// Toolbars
// Make the div behave like a button
.button--toolbar,
.button--toolbar-vertical {
  @extend .flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $grid--gutter;
  > .btn-filter {
    flex-grow: 1;

    // Bring the "active" button to the front

    @include md {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: $grid--gutter / 4;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
  @include md-up {
    > .btn-filter ~ .btn-filter {
      margin-left: $grid--gutter / 2;
    }
  }


}