//
// Buttons
// --------------------------------------------------
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

// Base styles
// --------------------------------------------------

.button, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  text-transform: $font__buttons-case;
  font-family: $font__buttons;
  font-weight: $font__weight-buttons;
  font-size: $font__button-size;
  line-height: $font__line-height-buttons;
  letter-spacing: $font__letter-spacing-buttons;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: normal;
  transition: background-color 0.5s ease;
  @include button-size($button-padding-vertical, $button-padding-horizontal, $button-border-radius);

  &,
  &:active,
  &.active,
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }


  // [converter] extracted a& to a.btn
}

// Create Variants
.button__primary {
  @include button-variant( $button__add-to-primary-color, $button__add-to_bg, $button__add-to-border )
  &:focus,
  &.focus, &:hover {
    color: $button__add-to-primary-color;
    background-color: darken($button__add-to_bg, 12%);
        border-color: darken($button__add-to_bg, 12%);
  }
}

// Create Variants
.button__border {
    @include button-variant( $button__border-primary-color, $button__border-bg, $button__border-border )
  &:focus,
  &.focus, &:hover {
    color: $color__white;
    background-color: $color__light;
        border-color: $color__light;
  }
}

// Create Variants
.button__white {
    @include button-variant( $button__white-primary-color, $button__white-bg, $button__white-border )
  &:focus,
  &.focus, &:hover {
    color: $color__light;
    background-color: $color__white;
        border-color: $color__white;
  }
}

// Create Variants
.button__grey {
    @include button-variant( $button__grey-primary-color, $button__grey-bg, $button__grey-border )
  &:focus,
  &.focus, &:hover {
    color: $color__white;
    background-color: $color__grey;
        border-color: $color__grey;
  }
}


// Block
.button__block {
  display: block;
  width: 100%;  
}

// Small
.button__small {
  font-size: 60%;
  padding: 5px 5px;
  margin: 3px 3px;
}

// Center
.button__center {
  margin-right: auto;
  margin-left: auto;
}

// Groups
.button__group {

  .button + .button {
    margin-left: .5rem;
    
    @include md {
      margin-left: auto;
      margin-top: .5rem;
    }

  }
  
}

// Toolbars
// Make the div behave like a button
.button__toolbar,
.button__toolbar-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  margin-bottom: 2em;
  > a {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders when buttons are next to each other
.button__toolbar {
  .button + .button,
  .button + .button__toolbar,
  .button__toolbar + .button,
  .button__toolbar + .button__toolbar {
    margin-left: -1px;
  }
}
