body {
  //font-size: 1em;
  line-height: $font__line-height-body;
  margin: auto;
}

p, ul, ol, pre, table, blockquote {
	margin-bottom: $font__margin-bottom;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

small, .small {
	font-size: 80%;
}
med, .med {
	font-size: 90%;
}  
big, .big {
	font-size: 125%;
}
.grande {
	font-size: 300%;
}

// Font Weights
.fw-300 {
	font-weight: 300;
}
.fw-500 {
	font-weight: 600;
}

.fw-900 {
	font-weight: 900;
}

// Font Transforms
.text--initial {
	text-transform: initial;
}

// Fixed Width

.fw {
    width: 1.28571429em;
    text-align: center;
}

// Compressed
.text-max-width {
  max-width: 640px;
  @extend .center-block;
}

// Superset
.superset {
	position: relative;
	top: -7px;
}

// Link solidcolor
.color-inherit {
	color: inherit;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
