h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font__headings;
	font-weight: $font__weight-headings;
	margin: 0 0 $font__margin-bottom 0;
	clear: both;
	letter-spacing: $font__letter-spacing-headings;
	text-transform: $font__headings-case;
}

h1, .h1 {
  font-size: 5.625em;
  line-height: 1.16666667em;
  margin-top: 0.23333333em;
  margin-bottom: 0.46666666em;
}
h2, .h2 {
  font-size: 3.1875em;
  line-height: 1.23529412em;
  margin-top: 0.41176471em;
  margin-bottom: 0.41176471em;
}
h3, .h3 {
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h4, .h4 {
  font-size: 1.2em;
  line-height: 1.3125em;
  margin-top: 1.3125em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.3125em;
  margin-top: 1.3125em;
  margin-bottom: 0em;
}

.entry-title {
	@extend .no-margin-top;
	@extend .h3;
}

.page-title {
	@extend .h2;
}

.widget-title {
	text-transform: $font__headings-widget;
}

.comments-title {
	@extend .h3;
}

.comments-reply-title {
	@extend .h4;
}