body,
button,
input,
select,
textarea, .p {
	color: var(--color-text);
	font-family: var(--font-main);
	line-height: $font__line-height-body;
	font-size: var(--font-size-base);
	line-height: 21px;

}

@import "headings";

@import "copy";
@import "icons";
@import "blockquote";

.text-uppercase { text-transform: uppercase; }