// Base transition classes to avoid constantly writing transition color 0.5s ease
.transition-all { transition: all 0.5s ease; }
.transition-color {
    transition: color 0.5s ease;
}
.transition-background-color {
    transition: background-color 0.5s ease;
}

.transition-top {
    transition: top 0.5s ease;
}

.transition-padding {
    transition: padding 0.5s ease;
}

.transition-transform {
    transition: transform 0.5s ease;
}

.transition-opacity {
    transition: opacity 0.5s ease;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--color-neutral);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 33px;
    transform: translate(-50%, -50%);
}

.spinner {
  //margin: 100px auto 0;
  //width: 70px;
  text-align: center;
}

.spinner > div {
  width: 26px;
  height: 26px;
  background-color: var(--color-light);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
    
    .loaded #loader-wrapper {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s 0.3s ease-out;
    }
    
    .loaded #loader {
        opacity: 0;
        transition: all 0.3s ease-out;
    }

