// Base transition classes to avoid constantly writing transition color 0.5s ease
.transition-color {
    transition: color 0.5s ease;
}
.transition-background-color {
    transition: background-color 0.5s ease;
}

.transition-top {
    transition: top 0.5s ease;
}

.transition-padding {
    transition: padding 0.5s ease;
}

.transition-transform {
    transition: transform 0.5s ease;
}

.transition-opacity {
    transition: opacity 0.5s ease;
}