.footer-widget-area, .site-info {
    font-size: $font__footer-size;
}
.footer-widget-area .widget-title {
    padding-bottom: 3px;
    margin-bottom: 12px;
}

.footer-widget-area ul.menu {
    @extend .list-unstyled;
    @extend .no-margin-left;
}