.list-none {
	list-style: none;
}
.list-unstyled {
	@extend .pl0;
	@extend .list-none;	
}
.list-inline > li {
    display: inline-block;
	@extend .px1;
	&:first-child {
		@extend .pl0;
	}
}
ul.double, ul.triple {
	float: left;
	li {
		margin: 5px 0px 0px;
		float: left;
		padding-right: 20px;
	}
}
ul.double {
	li {
		width: 50%;
	}
}
ul.triple {
	li {
		width: 33.3%;
		@include md {
				width: 100%;
		}
	}
}
ul.icons {
    li:before {
        margin:0 5px 0 -15px;
    }
}
.checkmark li:before {
	font-family: 'Ionicons';
	content: '\f383'	
}
.checkmark-circle li:before {
	font-family: 'Ionicons';
	content: '\f375'
}
.plus-outline li:before {
	font-family: 'Ionicons';
	content: '\f48a'
}
.arrow-right li:before {
	font-family: 'Ionicons';
	content: '\f10a';
}
.icon-list__light {
	li:before {
		color: var(--color-light);
	}
}

ul, ol {
	margin: 0 0 1em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.75em;
}

dt {
	font-weight: bold;
}

dd {
	margin: .5em 0;
}