.list-unstyled {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
	&:first-child {
		padding-left: 0;
	}
}
ul.icons {
    li:before {
        margin:0 5px 0 -15px;
    }
}

.checkmark-circle li:before {
	font-family: 'Ionicons';
	content: '\f375'
}
.plus-outline li:before {
	font-family: 'Ionicons';
	content: '\f48a'
}
ul, ol {
	margin: 0 0 1.5em 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0.75em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}