// Section base class
.section {
    float: left;
    width: 100%;
}
// Sections are rows 
.section-header {
    padding: $section__header-padding;
    overflow: hidden;
}
.section-row, body:not(.full-width) .panel-grid {
    padding: $section__row-padding;
}

// Header sections
.header__text-only {
    padding: 30px 0;
}

// For when the section exists in isolation
.section__content-only {
    padding: $section__content-only-padding;
}

.section__sidebar {
    padding: 20px 0;
}

.panel-grid {
    margin-bottom: 0 !important;
    &:first-of-type {
        padding-top: 0;
    }
}
.header__text-only {
    @extend .block__grey;
}
.section__video video { 
    width: 100%;
}

// No padding
.section__no-padding {
    .panel-grid-cell {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

// Container panel on full width layout
.panel-row-style-container {
    padding-left: 0;
    padding-right: 0;
}

// Blocks
.block__content {
    padding: 36px 12px;
}

.block__content-widget {
    padding: 32px;
}