.post-thumb {
    overflow: hidden;
    //background-color: $color__post-thumb;
}
.post-thumb-wrapper { 
    position: relative;
    width: 100%;
    float: left;
    img { display: block; }
    .post-thumb-wrapper-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
         > span {
            top: 50%;
            transform: translate(0,-50%);
            width: 100%;
            position: absolute;
            left: 0;
            padding: 0 20px;
            &.btm-l {
                text-align: left;
                top: 80%;
            }
        }
    }
}

.overlay__shaded {
    background-color: $color__thumb-shaded; 
}

.post-thumb-wrapper-overlay > span, .post-thumb-wrapper-overlay > span a {
    @extend .text--white;
}

// Show span on hover

.post-thumb-wrapper.slide-up-on-hover {
    .post-thumb-wrapper-overlay {
            top: 50%;
            @extend .transition-top;
            @extend .overlay__shaded;
    }
    &:hover {
        .post-thumb-wrapper-overlay {
            top: 0;
        }
    }
}

// Animated background on hover
.post-thumb.animated-on-hover {
    .post-thumb-wrapper {
        img {
            @extend .transition-transform;
        }
        &:hover {
            img {
                transform: scale(1.1,1.1);
            }
        }
    }
}

// Go to black on hover

.post-thumb-wrapper.hide-img-on-hover {
    .post-thumb-wrapper-overlay {
        opacity: 0;
        @extend .transition-opacity;
        transition-delay: 0.1s;
        -webkit-backface-visibility: hidden;
        background-color: $thumbnail__span-bg;
        
    }
    &:hover {
        .post-thumb-wrapper-overlay {
            opacity: 1;
        }
    }
}