// Base colors & fallback
$color--light: #0eacf3;
$color--dark: #231f20;
$color--text: #6a6f75;
$color--neutral: #EBF3FA;
$color--white: #fff;
$color--grey: #EFEFEF;
$color__borders: #EFEFEF;

@include css-vars((
    --color-light: $color--light,
    --color-dark: $color--dark,
    --color-text: $color--text,
    --color-neutral: $color--neutral,
    --color-grey: $color--grey,
    --color-white: $color--white
));

$color__background-body: var(--color-neutral);
$color__background-screen: #f1f1f1;
$color__background-hr: rgba(130,130,130,0.14);
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-abbr: #666;

// Typogaphy
$color--text-headings: darken($color--text,12.5%);
$color__link: var(--color-light);
$color__link-hover: darken($color--light,10%);
//  Pre Nav
$color__background-preheader: var(--color-light);
$color__text-preheader: $color--white;
$color__preheader-nav-link: $color--white;
$color__preheader-nav-link__hover: lighten($color--light,20%);

// Logo
$color__logo-text: var(--color-dark);

// Nav
$color_background-navbar: var(--color-light);
$color_nav-link: darken($color--white, 5%);
$color_nav-link__hover: var(--color-white);
$color_nav-link__active:  var(--color-white);
$color_nav-link-background__hover: transparent;
$color_nav-link-background__active: var(--color-white);
$color__border-nav: var(--color-neutral);
$color__dropdown-link__active: var(--color-light);

// Toggle
$toggle__icon-color: var(--color-white);
$toggle__background-color: transparent;

// Mobile Nav
$color_mobile-nav-link__active: var(--color-light);
$color_mobile-nav-link__close: var(--color-neutral);

// Widgets
$color__background-widget: transparent;

// Footer
$color__background-footer-widget-area: var(--color-light);
$color__text-footer-widget-area: var(--color-white);
$color__text-headings-footer-widget-area: var(--color-white);
$color__background-site-info: transparent;
$color__text-site-info: var(--color-text);

// Sections
$color__background-section-header: #f7f7f7;
$color__background-section-header--image: var(--color-dark);
$color__header--text-color: var(--color-white);

//Elements
$color__post-thumb: #58585a;
//color over the header image
$color__thumb-shaded: rgba(#000,0.3);
$color__background-section-header-overlay: $color__thumb-shaded;

    // Lines
    $color__line-lr: var(--color-light);

// Classes
.text--white {
    color: $color--white;
    > a {
        color: $color--white;    
    }
}
.text--light {
    color: var(--color-light);
}
.text__main {
    color: var(--color-text);
}
.text--dark {
    color: var(--color-dark);
}
.block--white {
    background-color: $color--white;
}
.block--grey {
    background-color: var(--color-grey);
}
.block--light {
    background-color: var(--color-light);
}
.block--dark {
    background-color: var(--color-dark);
}
.block--neutral {
    background-color: var(--color-neutral);
}
.hover__light {
    &:hover { 
    @extend .block--light; 
    @extend .transition-background-color; 
    @extend .text--white; }
}
.hover__dark {
    &:hover { 
    @extend .block--dark; 
    @extend .transition-background-color; 
    @extend .text--white; }
}