// Base colors
$color__light: #3498DB;
$color__dark: #2980B9;
$color__text-main: #444;
$color__neutral: #ECF0F1;
$color__white: #fff;
$color__grey: #F3F3F1;
$color__borders: #e8e8e8;

$color__background-body: $color__neutral;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: $color__light;
$color__link-hover: darken($color__light,10%);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-abbr: #666;

//  Pre Nav
$color__background-preheader: $color__dark;
$color__text-preheader: $color__white;

// Nav
$color_background-navbar: $color__light;
$color_nav-link: $color__white;
$color_nav-link__active: $color__white;
$color__border-nav: $color__neutral;

// Widgets
$color__background-widget: #f8f8f8;

// Footer
$color__background-footer-widget-area: $color__grey;
$color__text-footer-widget-area: $color__text-main;
$color__background-site-info: $color__grey;
$color__text-site-info: $color__text-main;

// Classes
.text__white {
    color: $color__white;
}
.text__light {
    color: $color__light;
}
.block__white {
    background-color: $color__white;
}
.block__grey {
    background-color: $color__grey;
}
.block__light {
    background-color: $color__light;
}
.block__dark {
    background-color: $color__dark;
}
