// Set fonts here
$font__main: 'Roboto', sans-serif;
$font__headings: 'Cardo', san-serif;
$font__menus: $font__headings;
$font__buttons: $font__main;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-pre: 1.6;
$font__weight-headings: 500;
$font__letter-spacing-headings: 0px;

//Line heights & margins
$font__line-height-body: 1.75;
$font__margin-bottom: 21px;

// Case
$font__headings-case: normal;
$font__menus-case: normal;
$font__buttons-case: normal;

// Font Sizes
$font__navbar-size: 17px;
$font__preheader-size: 13px;
$font__footer-size: 15px;

// Spacings
$font__navbar-spacing: 0px;
$font__heaings-spacing: 0px;