// Unstyle nav
.nav {
	@extend .list-unstyled;
}

.site-header {
	background-color: $color_background-navbar;
}
// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
	position: relative;
	margin-bottom: $navbar-margin-bottom;
	border-bottom: 0px solid $color__border-nav;
	background-color: $color_background-navbar;
	padding: $navbar-padding-vertical $navbar-padding-horizontal;
	transition: padding 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

}

.nav-item {
	float: left;
	padding-left: $navbar-link-padding-horizontal;
	padding-right: $navbar-link-padding-horizontal;
	letter-spacing: $font__letter-spacing-menus;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Primary Nav Specific
.navbar-primary {
	font-family: var(--font-headings);	
	font-size: var(--font-size-navbar);
	font-weight: $font__weight-menus;
	letter-spacing: $font__letter-spacing-menus;
	border-bottom: $navbar-border-bottom;
	text-transform: $font--menus-case;

	.navbar__collapse > li.nav-item {
		&.active > a { 
			border-bottom: 2px solid var(--color-light); 
		}
		> a {
			padding-top: $navbar-primary-link-padding;
			padding-bottom: $navbar-primary-link-padding
		}
	}
}

.navbar-preheader {
	font-family: var(--font-preheader);
	font-size: var(--font-size-preheader);
	padding: $navbar-preheader__padding-vertical 0;
	background-color: $color__background-preheader;
	color: $color__text-preheader;
	.nav-item {
		padding: $navbar-preheader__nav-item-padding-vertical 12px;
	}
	
	li	> a {
		@extend .p0;
		color: $color__preheader-nav-link;
		&:visited {
			color: $color__preheader-nav-link;
		}
		&:hover {
			color: $color__preheader-nav-link__hover;
		}
	}
}
// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex__navbar-fixed;
}
.navbar-fixed-top {
  top: 0;
  //border-width: 0 0 2px;
  //transform: scaleY(0.6);
  padding: $navbar-padding-vertical__scroll $navbar-padding-horizontal;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .navbar defaults
  border-width: 1px 0 0;
}

// Alignment
.navbar-center .navbar-primary .navbar-nav.navbar__collapse {
	@extend .navbar-nav__center;
	@extend .ml0;
}

.navbar-nav__left {
	float: left;
	> li {
		&:first-child {
			padding-left: 0 !important; //sigh
		}
	}
}

.navbar-nav__right {
	@extend .f-right;
	> li {
		&:last-child {
			padding-right: 0;
		}
	}
}

.navbar-nav__center {
	@include md-up {
		display: flex;
	}
	justify-content: center;
}

.navbar-fixed-top.navbar-is-at-top {
    transition: background-color 1s ease, color 1s ease;
    .logo a { transition: color 0.5s ease; color: $color__white; }
}

// Split nav
.navbar-split {
	.site-menu-container, .site-branding {
		@extend .col-md-4;
	}
	
}

// Aligment
.navbar-left .navbar-aligner {
	@extend .start-xs;
}

// Sticky
.navbar-sticky {
	@extend .p--sticky;
	top: 0;
	z-index: 99;
}