// Unstyle nav
.nav {
	@extend .list-unstyled;
}

// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
	position: relative;
	margin-bottom: $navbar-margin-bottom;
	border-bottom: 0px solid $color__border-nav;
	background-color: $color_background-navbar;
	padding: $navbar-padding-vertical $navbar-padding-horizontal;
	transition: all 0.7s ease;
	transition-property: opacity, padding, background-color, color;
}

.navbar-nav {
  .nav-item {
	float: left;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	letter-spacing: $font__navbar-spacing;
  }

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Primary Nav Specific
.navbar-primary {
	font-size: $font__navbar-size;
	font-weight: $font__weight-menus;
	letter-spacing: $font__letter-spacing-menus
}

.navbar-preheader {
	font-size: $font__preheader-size;
	padding: $navbar-preheader__padding-vertical 0;
	background-color: $color__background-preheader;
	color: $color__text-preheader;
	.nav-item {
		padding: $navbar-preheader__nav-item-padding-vertical 12px;
		> a {
			padding: 0;
			color: $color__text-preheader;
			&:hover {
				color: $color__anchor-hover;
			}
		}
	}
	.navbar-nav__socials {
		
	}
}

.navbar-preheader, .navbar-primary {
	font-family: $font__menus;	
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex__navbar-fixed;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
  padding: $navbar-padding-vertical__scroll $navbar-padding-horizontal;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .navbar defaults
  border-width: 1px 0 0;
}

// Alignment
.navbar-nav__left {
	float: left;
	> li {
		&:first-child {
			padding-left: 0 !important; //sigh
		}
	}
}

.navbar-nav__right {
	@extend .pull-right;
	> li {
		&:last-child {
			padding-right: 0;
		}
	}
}

.navbar-nav__center {
	text-align: center;
	width: 100%;
	float: left;
	.nav-item {
		display: inline-block;
		float:none;
	}
}

.navbar-fixed-top.navbar-is-at-top {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    transition: background-color 1s ease, color 1s ease;
    .logo a { transition: color 0.5s ease; color: $color__white; }
    .navbar-nav > .nav-item > a {
        color: rgba(255, 255, 255, 0.8);

		&:hover, &:focus,
		&:active {
			color: $color__white;
		}
    }
	.nav-link, .nav-item.current-menu-item > a {
		color: $color__white;
	}
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}


