.post-meta {
	//background-color: $color__neutral;
	padding: 1em 0;
	ul > li {
		@extend .small;
		@extend .strong;
		@extend .text-uppercase;
		&:after {
			content: ' | ';
			margin: 0 6px;
			color: #efefef;
		}
	}
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
