.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $block--margin-bottom;
	@extend .w100;
	@extend .f-left;
}

.hentry-offset {
	margin-bottom: -$block--margin-bottom;
}

.page.siteorigin-panels article.hentry {
	margin-bottom: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
body:not(.full-width):not(.siteorigin-panels).page .entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.site-main {
	@extend .f-left;
	@extend .w100;
}