.sticky {
	display: block;
}

body:not(.full-width) .hentry {
	margin: 0 0 2em;
}

.hentry-offset {
	margin-bottom: -2em;
}

.page.siteorigin-panels article.hentry {
	margin-bottom: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
body:not(.full-width):not(.siteorigin-panels).page .entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}